{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
</head>
<body>
<div class="card card-image"
style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.webp);">


<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
  <div>
    <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
    <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
      optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
      Odit sed qui, dolorum!.</p>
    <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a>
  </div>
</div>

</div> 
    <button type="button" class="btn btn-success">Success</button>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
</body>
</html>